@import url(null-style.css);

:root {
    --color-text: #1A1B18;
    --color-text-secondary: #32374E;
    --color-white: #ffffff;
    --color-lite-blue: #EDF3FF;
    --color-blue: #1E6AFF;
    --color-border: rgba(26, 27, 24, 0.3);
    --color-btn: #1A1B18;
    --color-btn-bg: #1A1B18;
    --color-backgroung-block: #131519;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-bold.woff2') format('woff2'),
        url('../fonts/circe-bold.woff') format('woff'),
        url('../fonts/circe-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-regular.woff2') format('woff2'),
        url('../fonts/circe-regular.woff') format('woff'),
        url('../fonts/circe-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-light.woff2') format('woff2'),
        url('../fonts/circe-light.woff') format('woff'),
        url('../fonts/circe-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Christopher';
    src: url('../fonts/Christopher.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    font-family: 'Circe';
    color: var(--color-text);
}

.wrapper {
    max-width: 1175px;
    margin: 0 auto;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;

    @media (max-width: 340px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 32px;
    line-height: 110%;
}

h4 {
    font-size: 24px;
    line-height: 1.2;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.40;
}

p {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

    @media (max-width: 340px) {
        font-size: 16px;
    }
}

a,
a:visited {
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}

a:hover {
    color: var(--color-blue);
}

li {
    margin-bottom: 5px;

    &::before {
        content: "";
        display: inline-block;
        background-size: contain;
        margin-right: 8px;
        height: 9px;
        width: 11px;
        background-repeat: no-repeat;
        background-image: url(../ico/ul_shevron.png);
    }
}

.btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-white);
    border-radius: 16px;
    background-color: var(--color-btn);
    position: relative;
    transition: background-color ease 0.3s;
    z-index: 1;

    &:hover {
        box-shadow: 0px 8px 16px rgba(41, 41, 41, 0.12);
        background-color: transparent;
    }

    &::before {
        content: "";
        opacity: 0;
        background: linear-gradient(254.84deg, #FB9907 -0.55%, #FF006E 23.21%, #1E6AFF 88.07%);
        transition: opacity 0.3s ease;
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 16px;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }

    @media (max-width: 344px) {
        font-size: 16px;
    }
}

.block__btn {
    background-color: transparent;
    color: var(--color-text);
    font-weight: 700;
    font-size: 20px;
    padding: 18px 24px;
    transform: translateX(-24px);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border-radius: 16px;
    transition: background-color 0.3s ease;

    &::after {
        content: "";
        background-image: url(../ico/arrow.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 21px;
        height: 19px;
        margin-left: 16px;
        vertical-align: middle;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: translateX(5px);
    }

    @media (max-width: 344px) {
        font-size: 16px;
    }

    @media (max-width: 381px) {

        &::after {
            display: none;
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 24px 0 26px 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    background-color: none;
    z-index: 999;

    li {
        margin-bottom: 0;
    }

    li::before {
        display: none;
    }


    @media (max-width:1000px) {}
}

.header a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--color-blue);
    }
}

.header--scrolled {
    background-color: var(--color-white);
    box-shadow: 0px 4px 12px rgba(30, 106, 255, 0.12);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.header__logo {
    max-height: 40px;
    height: 100%;
}

.header__menu {
    display: flex;
    gap: 32.5px;
    align-items: center;
    max-height: 30px;

    @media (max-width:1000px) {
        display: none;
    }
}

.header__menu-item {
    cursor: pointer;
}

.header__menu-item--submenu {
    position: relative;
}

.header__link {
    transition: color 0.2s ease;
}

.header__menu-item--submenu:hover {
    .header__arrow {
        color: var(--color-blue);
        transition: color 0.2s ease;
    }

    .header__link {
        color: var(--color-blue);
    }
}

.header__menu-item--submenu--open {
    .header__submenu {
        display: block;
    }
}

.header__menu-item span:hover {
    color: var(--color-blue);
}

.header__submenu {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 16px;
    overflow: hidden;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.header__submenu-item {
    width: 180px;
}

.header__submenu-link {
    display: flex;
    padding-top: 8px;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.header__submenu-link:hover {
    background-color: var(--color-lite-blue);
}

.header__arrow {
    margin-left: 6px;
}

.header__authorization {
    display: flex;
    gap: 18px;

    @media (max-width:1000px) {
        display: none;
    }
}

.header__btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
}

.header__btn--login {
    color: var(--color-white);
    transition: color 0.2s ease;

    &:hover {
        color: var(--color-text);
    }
}

.header--scrolled .header__btn--login {
    color: var(--color-text);

    &:hover {
        color: #1E6AFF;
    }
}

.header__btn--registration {
    color: var(--color-blue);
    padding: 14px 24px;
    background-color: var(--color-white);
    border-radius: 12px;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-btn);
    }
}

.header--scrolled .header__btn--registration {
    color: var(--color-white);
    background-color: var(--color-btn);

    &:hover {
        color: var(--color-white);
        background-color: var(--color-blue);
    }
}



.header__burger {
    display: none;
    width: 40px;

    @media (max-width:1000px) {
        display: block;
    }
}


.header__mobile {
    position: absolute;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    text-align: center;
}


.header__cross {
    display: none;
}

.hero {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 160px;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.hero__wrapper {
    display: flex;
    width: 100%;
}

.hero__info {
    margin: 254px auto 0 0;
    max-width: 576px;
}

.hero__title {
    margin-bottom: 20px;
}

.hero__subtitle {
    margin-bottom: 55px;

    &::before {
        content: "";
        background-image: url(../ico/lightning_charge.svg);
        display: inline-block;
        width: 18px;
        height: 24px;
        background-size: contain;
        margin-right: 8px;
        vertical-align: middle;
    }
}

.hero__form {
    display: flex;
    gap: 10px;
    margin-bottom: 51px;
}

.hero__input {
    max-width: 376px;
    height: 58px;
    width: 100%;
    text-align: start;
    border: 1px solid var(--color-border);
    box-shadow: 0px 8px 16px rgba(41, 41, 41, 0.08);
    border-radius: 16px;
    padding: 19px 24px;
    font-size: 20px;
    line-height: 100%;
}

.hero__btn {
    padding: 19px 35px;
}

.hero__bonus {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--color-text-secondary);
    opacity: 0.8;
    margin-top: 10px;
}

.hero__policy-accept {
    max-width: 446px;
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-secondary);
}

.hero__policy {
    margin-bottom: 10px;
    font-size: 16px;
}

.hero__btn-accept {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding: 6.5px 30px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-btn-bg);
    }
}

.hero__image-container {
    position: relative;
}

.hero__image {
    position: absolute;
    right: -500px;
    top: -150px;
}

.clients {
    color: var(--color-white);
    background-color: var(--color-backgroung-block);
    border-radius: 32px;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 660px;
    margin-bottom: 160px;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.clients__title {
    max-width: 661px;
    text-align: center;
    margin-bottom: 25px;
}

.clients__subtitle {
    margin-bottom: 60px;
}

.clients__img {
    max-width: 112px;
    text-align: center;

    .clients__active {
        display: none;
    }

    &:hover {
        .clients__unactive {
            display: none;
        }

        .clients__active {
            display: block;
        }
    }
}

.advantages {
    background-color: #E2F6FB;
    border-radius: 32px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;

    h2 {
        text-align: center;
        font-size: 50px;
    }

    h3 {
        font-size: 24px;
    }

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.advantages__nav-container {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;

    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        padding: 9px 16px;
        background-color: none;
        transition: background-color 0.3s ease;
        border-radius: 16px;
    }

    span:hover {
        background-color: #ceecf7;
        display: block;
    }

    span.selected {
        background-color: #4DD4FF;
    }
}

.advantages__tab {
    display: none;
}

.advantages__tab.active {
    display: block;
}

.advantages__title {
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}

.advantages__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.advantages__card {
    max-width: 354px;

    p {
        margin-bottom: 10px;
    }
}

.advantages__image {
    margin-bottom: 25px;
    margin-right: auto;
}

.advantages__nav {
    font-weight: bold;
    cursor: pointer;
}

.advantages__title-marks {
    font-size: 50px;
}

.advantages__title-ico::after {
    content: "";
    width: 63px;
    height: 71px;
    background-size: contain;
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

.advantages__title-ico--fire::after {
    background-image: url(../ico/icon_fire.png);
    width: 50px;
    height: 57px;
}

.advantages__title-ico--marks::after {
    background-image: url(../ico/icon_marks.png);
}

.advantages__subtitle {
    font-size: 16px;
    max-width: 813px;
}

.advantages__subtitle--centred {
    text-align: center;
    margin: 0 auto;
}

.advantages__btn-try {
    padding: 22px 65.5px;
    margin-top: 82px;
}

.economy {
    background-color: #F3E6FB;
    border-radius: 32px;
    padding: 60px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;

    @media (max-width: 1087px) {
        margin-bottom: 60px;
        flex-direction: column;
        gap: 50px;
    }

    @media (max-width: 431px) {
        padding: 20px;
        gap: 20px;
    }
}

.economy__info-container {
    max-width: 451px;
    padding: 4px 0;

    @media (max-width: 1087px) {
        order: 2;
        max-width: 100%;
        text-align: center;
    }
}

.economy__indicator-container {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;

    @media (max-width: 1087px) {
        justify-content: center;
    }
}

.economy__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.indicator {
    margin-left: 6px;
}

.indicator--blue {
    color: #1E6AFF;
}

.indicator--green {
    color: #11BA91;
}

.economy__title {
    max-width: 350px;

    @media (max-width: 1087px) {
        max-width: 100%;
    }
}

.economy__sabtitle {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    max-width: 330px;

    @media (max-width: 1087px) {
        max-width: 100%;
    }
}

.economy__img {
    max-width: 613px;
    width: 100%;
    filter: drop-shadow(-12px 8px 42px rgba(72, 37, 94, 0.2));

    @media (max-width: 1087px) {
        max-width: 100%;
        height: auto;
    }
}

.economy__btn {

    &:hover {
        background-color: #E6BBFF;
    }

    @media (max-width: 1087px) {
        transform: translateX(0px);
    }

    @media (max-width: 381px) {
        background-color: #E6BBFF;
    }
}

.growth-point {
    background-color: #ECEDFE;
    border-radius: 32px;
    display: flex;
    padding: 60px 45px;
    gap: 50px;
    margin-bottom: 160px;

    @media (max-width: 1087px) {
        margin-bottom: 60px;
        flex-direction: column;
    }

    @media (max-width: 431px) {
        padding: 20px;
        gap: 20px;
    }
}

.growth-point__info-container {
    max-width: 414px;

    @media (max-width: 1213px) {
        text-align: center;
    }

    @media (max-width: 1087px) {

        max-width: 100%;
    }
}

.growth-point__indicator-container {
    display: flex;
    max-width: 235px;
    gap: 6px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;

    @media (max-width: 1213px) {
        justify-content: center;
        max-width: 100%;
    }
}

.growth-point__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.growth-point__btn {

    &:hover {
        background-color: rgba(84, 114, 171, 0.4);
    }

    @media (max-width: 1087px) {
        transform: translateX(0px);
    }

    @media (max-width: 381px) {
        background-color: rgba(84, 114, 171, 0.4);
    }
}

.growth-point__img {
    box-shadow: 12px 12px 42px rgba(25, 46, 87, 0.16);
    border-radius: 16px;
    width: 100%;
}

.conversion {
    background-color: #FEF5EA;
    border-radius: 32px;
    padding: 60px 45px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1196px) {
        margin-bottom: 60px;
        flex-direction: column;
        gap: 50px;
    }

    @media (max-width: 431px) {
        padding: 20px;
        gap: 20px;
    }
}

.conversion__info-container {
    max-width: 465px;

    @media (max-width: 1196px) {
        text-align: center;
        max-width: 100%;
        order: 2;
    }
}

.conversion__indicator-container {
    display: flex;
    max-width: 307px;
    gap: 6px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;

    @media (max-width: 1196px) {
        justify-content: center;
        max-width: 100%;
    }
}

.conversion__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.conversion__sabtitle {
    max-width: 425px;

    @media (max-width: 1196px) {
        max-width: 700px;
        justify-self: center;
    }
}

.conversion__img-container {
    display: flex;
    max-width: 602px;
    flex-wrap: wrap;
    gap: 16px;

    @media (max-width: 1196px) {
        justify-self: center;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 560px) {
        display: flex;
    }
}

.conversion__img {
    max-width: 293px;

    @media (max-width: 1196px) {

        max-width: 525px;
        width: 100%;
    }
}

.conversion__btn {
    &:hover {
        background-color: #FFE9BC;
    }

    @media (max-width: 1196px) {
        transform: translateX(0px);
    }

    @media (max-width: 381px) {
        background-color: #FFE9BC;
    }
}

.sell {
    border-radius: 32px;
    background-color: #ECEDFE;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;

    @media (max-width: 1176px) {
        margin-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.sell__title {

    margin-bottom: 25px;
    font-weight: 700;
    font-size: 50px;

    @media (max-width: 1176px) {
        text-align: center;
        justify-self: center;
    }

    @media (max-width: 1132px) {
        max-width: 700px;
    }

    @media (max-width: 643px) {
        max-width: 513px;
        font-size: 40px;
    }

    @media (max-width: 340px) {
        font-size: 28px;
    }
}

.sell__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.15;
    position: relative;
    display: inline-flex;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        background-image: url(../ico/sell/sell_hr.png);
        height: 19px;
        width: 98px;
        left: 60px;
        top: 25px;

        @media (max-width: 409px) {
            transform: translateY(-18px);
        }
    }

    span {
        font-family: 'Christopher';
        font-weight: 500;
        font-size: 64px;
        text-underline-offset: -5px;
        line-height: 1;
        transform: translateY(-4px);
        margin-left: 9px;



    }

    @media (max-width: 409px) {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.sell__info {
    padding: 50px 0 50px 60px;
    max-width: 575px;
    width: 100%;

    @media (max-width: 1176px) {
        max-width: 100%;
        padding: 0 45px 60px 45px;
        text-align: center;
        order: 2;
    }

    @media (max-width: 431px) {
        padding: 0 20px 20px 20px;
    }
}

.sell__form {
    display: flex;
    gap: 10px;

    @media (max-width: 1176px) {
        justify-content: center;
    }

    @media (max-width: 643px) {
        flex-direction: column;
        align-items: center;
    }
}

.sell__input {
    max-width: 324px;
    height: 58px;
    width: 100%;
    text-align: start;
    border: 1px solid var(--color-border);
    box-shadow: 0px 8px 16px rgba(41, 41, 41, 0.08);
    border-radius: 16px;
    padding: 19px 24px;
    font-size: 20px;
    line-height: 100%;
}

.sell__btn {
    padding: 19px 28px;

    @media (max-width: 643px) {
        padding: 22px 0;
        max-width: 324px;
        width: 100%;
    }
}

.sell__container {
    position: relative;
    overflow: visible;
    max-width: 628px;

    @media (max-width: 1176px) {
        max-width: 100%;
    }
}

.sell__background {
    border-radius: 32px;

    @media (max-width: 1176px) {
        display: none;
    }
}

.sell__img {
    position: absolute;
    left: 0;
    vertical-align: middle;
    align-self: center;
    max-width: 100%;

    @media (max-width: 1176px) {
        display: none;
    }
}

.sell__background--mobile {
    display: none;
    max-width: 100%;

    @media (max-width: 1176px) {
        display: block;
    }
}

.cases {
    margin-bottom: 160px;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.cases__title {
    margin-bottom: 39px;
    text-align: center;

    @media (max-width: 920px) {
        max-width: 700px;
        justify-self: center;
    }
}

.cases__card-container {
    display: flex;
    gap: 24px;

    @media (max-width: 1215px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: 815px) {
        gap: 50px;
    }
}

.cases__card {
    border-radius: 32px;
    box-shadow: 0px 8px 16px rgba(73, 45, 113, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 376px;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 8px 16px rgba(73, 45, 113, 0.16);
    }
}

.cases__img-container {
    position: relative;

    & img {
        max-width: 376px;
        width: 100%;
    }
}

.cases__img {
    border-radius: 32px 32px 0 0;
}

.cases__img-decoration {
    position: absolute;
    bottom: 0;
    right: 0;
}


.cases__info {
    padding: 0 30px 33px 30px;
}

.cases__heading--margin {
    margin-top: 34px;
}

.cases__heading {
    margin-bottom: 20px;
    line-height: 115%;
    font-weight: 700;
    max-width: 280px;

    span {
        color: var(--color-white);
        background-color: #1E6BFF;
        padding: 0px 4px;
        line-height: 120%;
    }

    @media (max-width: 815px) {
        text-align: center;
        justify-self: center;
    }

    @media (max-width: 375px) {

        max-width: 270px;
    }

    @media (max-width: 340px) {
        font-size: 20px;
        max-width: 200px;
    }
}

.cases__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--color-text);
    opacity: 0.5;
    margin-bottom: 20px;
}

.cases__discription {
    margin-bottom: 58px;
}

.cases__btn {
    padding: 18px 0;
    width: 100%;
    background: transparent;
    color: var(--color-text);
    border: 2px solid var(--color-btn-bg);
    border-radius: 16px;
    filter: drop-shadow(0px 8px 16px rgba(41, 41, 41, 0.12));
    transition: border 0.3s ease;

    &:hover {
        border-color: transparent;
        color: var(--color-white);
    }
}

.integration {
    background-color: #ECEDFE;
    overflow: hidden;
    height: 440px;
    margin-bottom: 160px;
    box-shadow: 0px 0px 50px -15px rgba(34, 60, 80, 0.3) inset;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
        height: 540px;
    }
}

.integration__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 50px;

    @media (max-width: 1075px) {
        flex-direction: column;
    }

    @media (max-width: 431px) {
        padding: 0 20px;
        gap: 20px;
    }
}

.integration__info {
    max-width: 436px;
    margin: auto 0;

    @media (max-width: 1075px) {
        text-align: center;
        max-width: 100%;
        order: 2;
    }
}

.integration__title {
    margin-bottom: 25px;
}

.integration__container {
    display: flex;
    max-width: 576px;
    overflow: hidden;
    gap: 26px;

    & img {
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06));
        width: 90px;
        height: 90px;
        display: block;
        margin-bottom: 26px;

        @media (max-width: 402px) {

            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 1075px) {
        max-width: 100%;
        justify-content: center;
    }

    @media (max-width: 600px) {

        & .integration__spin-line:nth-child(n+5) {
            display: none;
        }
    }

    @media (max-width: 503px) {

        & .integration__spin-line:nth-child(n+4) {
            display: none;
        }
    }
}

.integration__spin-line {
    display: flex;
    flex-direction: column;
    animation: scrollUp 20s linear infinite;
    height: max-content;
}

.integration__spin-line--bottom {
    animation: scrollDown 20s linear infinite;
}

@keyframes scrollUp {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scrollDown {

    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.conection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
        flex-direction: column;
        text-align: center;
    }
}

.conection__img {
    max-width: 576px;
    width: 100%;

    @media (max-width: 991px) {
        order: 2;
    }
}

.conection__info {
    max-width: 476px;
    margin-bottom: 100px;

    @media (max-width: 991px) {
        max-width: 700px;
    }

    @media (max-width: 665px) {
        max-width: 400px;
    }
}

.conection__title {
    margin-bottom: 25px;
}

.conection__subtitle {
    margin-bottom: 50px;
    max-width: 440px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    @media (max-width: 991px) {
        max-width: 700px;
    }
}

.conection__btn {
    padding: 22px 79.5px;

    @media (max-width: 415px) {
        padding: 22px 0px;
        width: 100%;
    }
}

.review {
    margin-bottom: 160px;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.review__client {
    display: flex;
    gap: 124px;
}

.review__photo {
    max-width: 276px;
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.review__observation {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
}

.review__name {
    color: #999999;
    margin-bottom: 30px;
}

.income {
    border-radius: 32px;
    background-color: #F3E6FB;
    margin-bottom: 160px;
    padding: 50px 20px;
    text-align: center;

    @media (max-width: 1024px) {
        margin-bottom: 60px;
    }
}

.income__title {
    max-width: 826px;
    margin: 0 auto 20px auto;
    font-size: 50px;

    &::after {
        content: "";
        background-image: url(../ico/icon_fire.png);
        display: inline-block;
        background-repeat: no-repeat;
        width: 50px;
        height: 57px;
        vertical-align: top;
    }

    @media (max-width:625px) {
        font-size: 40px;
    }

    @media (max-width: 340px) {
        font-size: 28px;
    }
}

.income__subtitle {
    font-size: 18px;
    margin-bottom: 45px;

    @media (max-width:720px) {
        max-width: 500px;
        justify-self: center;
    }
}

.income__container {
    display: flex;
    justify-content: center;
    gap: 24px;

    @media (max-width:625px) {
        flex-direction: column;
        align-items: center;
    }
}

.income__btn {
    padding: 22px 56.5px;

    @media (max-width:625px) {
        max-width: 320px;
        width: 100%;
    }

    @media (max-width: 340px) {
        padding: 22px 0;

    }
}

.income__btn-transparent {
    background-color: transparent;
    color: var(--color-text);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border-radius: 16px;
    transition: background-color 0.3s ease;

    &::after {
        content: "";
        background-image: url(../ico/chevron.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 21px;
        height: 19px;
        margin-left: 8px;
        vertical-align: middle;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: translateX(5px);
    }

    @media (max-width: 381px) {
        &::after {
            display: none;
        }
    }

    @media (max-width: 344px) {
        font-size: 16px;
    }
}

footer {
    background-color: #000000;

    a,
    a:visited {
        color: var(--color-white);
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: var(--color-white);
        }
    }

    p {
        color: var(--color-white);
        margin-bottom: 4px;
    }

    @media (max-width:790px) {
        text-align: center;
    }
}

.footer__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    @media (max-width:790px) {
        display: block;
    }
}

.footer__logo {
    @media (max-width:790px) {
        margin-bottom: 25px;
    }
}

.footer__nav {
    display: flex;

    @media (max-width:790px) {
        text-align: center;
        justify-content: center;
    }

    @media (max-width:677px) {
        display: block;
    }
}

.footer__info {
    padding: 25px 0;
}

.footer__copy-right {
    color: #BCBCBC;
}













.swiper {
    max-width: 1056px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.swiper-wrapper {
    max-width: 100%;
}

.swiper-slide {
    max-width: 112px;
    max-height: 78px;
}

.swiper-pagination {
    display: block !important;
}

/* Десктопная сетка (от 1320px и выше) */
@media (min-width: 1320px) {
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .swiper-pagination {
        display: none;
    }
}