@import url(null-style.css);

:root {
    --color-text: #1A1B18;
    --color-text-secondary: #32374E;
    --color-white: #ffffff;
    --color-lite-blue: #EDF3FF;
    --color-blue: #1E6AFF;
    --color-border: rgba(26, 27, 24, 0.3);
    --color-btn: #1A1B18;
    --color-btn-bg: #1A1B18;
    --color-backgroung-block: #131519;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-bold.woff2') format('woff2'),
        url('../fonts/circe-bold.woff') format('woff'),
        url('../fonts/circe-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-regular.woff2') format('woff2'),
        url('../fonts/circe-regular.woff') format('woff'),
        url('../fonts/circe-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe-light.woff2') format('woff2'),
        url('../fonts/circe-light.woff') format('woff'),
        url('../fonts/circe-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    height: 10000px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    font-family: 'Circe';
    color: var(--color-text);
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
}

h3 {
    font-size: 32px;
    line-height: 110%;
}

h4 {
    font-size: 24px;
    line-height: 1.2;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.40;
}

p {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

a,
a:visited {
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 4px;
}

a:hover {
    color: var(--color-blue);
}

li {
    margin-bottom: 5px;

    &::before {
        content: "";
        display: inline-block;
        background-size: contain;
        margin-right: 8px;
        height: 9px;
        width: 11px;
        background-repeat: no-repeat;
        background-image: url(../ico/ul_shevron.png);
    }
}

.btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-white);
    border-radius: 16px;
    background-color: var(--color-btn);
    position: relative;
    transition: background-color ease 0.3s;
    z-index: 1;

    &:hover {
        box-shadow: 0px 8px 16px rgba(41, 41, 41, 0.12);
        background-color: transparent;
    }

    &::before {
        content: "";
        opacity: 0;
        background: linear-gradient(254.84deg, #FB9907 -0.55%, #FF006E 23.21%, #1E6AFF 88.07%);
        transition: opacity 0.3s ease;
        position: absolute;
        inset: 0;
        overflow: hidden;
        border-radius: 16px;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }
}

.block__btn {
    background-color: transparent;
    color: var(--color-text);
    font-weight: 700;
    font-size: 20px;
    padding: 18px 24px;
    transform: translateX(-24px);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border-radius: 16px;
    transition: background-color 0.3s ease;

    &::after {
        content: "";
        background-image: url(../ico/arrow.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 21px;
        height: 19px;
        margin-left: 16px;
        vertical-align: middle;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: translateX(5px);
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 24px 0 26px 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    background-color: none;
    z-index: 999;

    li {
        margin-bottom: 0;
    }

    li::before {
        display: none;
    }
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header--scrolled {
    background-color: var(--color-white);
    box-shadow: 0px 4px 12px rgba(30, 106, 255, 0.12);
}

.wrapper {
    max-width: 1175px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-height: 40px;
    height: 100%;
}

.header__menu {
    display: flex;
    gap: 32.5px;
    align-items: center;
    max-height: 30px;
}

.header__menu-item {
    cursor: pointer;
}

.header__menu-item--submenu {
    position: relative;
}

.header__link {
    transition: color 0.2s ease;
}

.header__menu-item--submenu:hover {
    .header__arrow {
        color: var(--color-blue);
        transition: color 0.2s ease;
    }

    .header__link {
        color: var(--color-blue);
    }
}

.header__menu-item--submenu--open {
    .header__submenu {
        display: block;
    }
}

.header__menu-item span:hover {
    color: var(--color-blue);
}

.header__submenu {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 16px;
    overflow: hidden;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.header__submenu-item {
    width: 180px;
}

.header__submenu-link {
    display: flex;
    padding-top: 8px;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.header__submenu-link:hover {
    background-color: var(--color-lite-blue);
}

.header__arrow {
    margin-left: 6px;
}

.header__authorization-group {
    display: flex;
    gap: 18px;
}

.header__btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
}

.header__btn--login {
    color: var(--color-white);
    transition: color 0.2s ease;

    &:hover {
        color: var(--color-text);
    }
}

.header--scrolled .header__btn--login {
    color: var(--color-text);

    &:hover {
        color: #1E6AFF;
    }
}

.header__btn--registration {
    color: var(--color-blue);
    padding: 14px 24px;
    background-color: var(--color-white);
    border-radius: 12px;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-btn);
    }
}

.header--scrolled .header__btn--registration {
    color: var(--color-white);
    background-color: var(--color-btn);

    &:hover {
        color: var(--color-white);
        background-color: var(--color-blue);
    }
}

.hero {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 160px;
}

.hero__wrapper {
    display: flex;
    width: 100%;
}

.hero__info {
    margin: 254px auto 0 0;
    max-width: 576px;
}

.hero__title {
    margin-bottom: 20px;
}

.hero__subtitle {
    margin-bottom: 55px;

    &::before {
        content: "";
        background-image: url(../ico/lightning_charge.svg);
        display: inline-block;
        width: 18px;
        height: 24px;
        background-size: contain;
        margin-right: 8px;
        vertical-align: middle;
    }
}

.hero__form {
    display: flex;
    gap: 10px;
    margin-bottom: 51px;
}

.hero__input {
    max-width: 376px;
    height: 58px;
    width: 100%;
    text-align: start;
    border: 1px solid var(--color-border);
    box-shadow: 0px 8px 16px rgba(41, 41, 41, 0.08);
    border-radius: 16px;
    padding: 19px 24px;
    font-size: 20px;
    line-height: 100%;
}

.hero__btn {
    padding: 19px 35px;
}

.hero__bonus {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--color-text-secondary);
    opacity: 0.8;
    margin-top: 10px;
}

.hero__policy-accept {
    max-width: 446px;
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-secondary);
}

.hero__policy {
    margin-bottom: 10px;
    font-size: 16px;
}

.hero__btn-accept {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding: 6.5px 30px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-btn-bg);

    }
}

.hero__image-container {
    position: relative;
}

.hero__image {
    position: absolute;
    right: -500px;
    top: -150px;
}

.clients {
    color: var(--color-white);
    background-color: var(--color-backgroung-block);
    border-radius: 32px;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 660px;
    margin-bottom: 160px;
}

.clients__title {
    max-width: 661px;
    text-align: center;
    margin-bottom: 25px;
}

.clients__subtitle {
    margin-bottom: 60px;
}

.clients__img {
    max-width: 112px;
    text-align: center;

    .clients__active {
        display: none;
    }

    &:hover {
        .clients__unactive {
            display: none;
        }

        .clients__active {
            display: block;
        }
    }
}

.advantages {
    background-color: #E2F6FB;
    border-radius: 32px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;

    h2 {
        text-align: center;
        font-size: 50px;
    }

    h3 {
        font-size: 24px;
    }
}

.advantages__nav-container {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;

    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        padding: 9px 16px;
        background-color: none;
        transition: background-color 0.3s ease;
        border-radius: 16px;
    }

    span:hover {
        background-color: #ceecf7;

        display: block;
    }

    span.selected {
        background-color: #4DD4FF;
    }
}

.advantages__tab {
    display: none;
}

.advantages__tab.active {
    display: block;
}

.advantages__title {
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}

.advantages__tab {}

.advantages__card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.advantages__card {
    max-width: 354px;

    p {
        margin-bottom: 10px;
    }
}

.advantages__image {
    margin-bottom: 25px;
    margin-right: auto;
}

.advantages__nav {
    font-weight: bold;
    cursor: pointer;
}

.advantages__title-marks {
    font-size: 50px;
}

.advantages__title-ico::after {
    content: "";
    width: 63px;
    height: 71px;
    background-size: contain;
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

.advantages__title-ico--fire::after {
    background-image: url(../ico/advantages_logo/icon_fire.png);
    width: 50px;
    height: 57px;
}

.advantages__title-ico--marks::after {
    background-image: url(../ico/advantages_logo/icon_marks.png);
}

.advantages__subtitle {
    font-size: 16px;
    max-width: 813px;
}

.advantages__subtitle--centred {
    text-align: center;
    margin: 0 auto;
}

.advantages__btn-try {
    padding: 22px 65.5px;
    margin-top: 82px;
}

.economy {
    background-color: #F3E6FB;
    border-radius: 32px;
    padding: 60px 45px;
    display: flex;
    gap: 20px;
    margin-bottom: 160px;
}

.economy__info-container {
    max-width: 451px;
    padding: 4px 0;
}

.economy__indicator-container {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;
}

.economy__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.indicator {
    margin-left: 6px;
}

.indicator--blue {
    color: #1E6AFF;
}

.indicator--green {
    color: #11BA91;
}

.economy__sabtitle {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.economy__img {
    max-width: 613px;
    width: 100%;
    filter: drop-shadow(-12px 8px 42px rgba(72, 37, 94, 0.2));
}

.economy__btn:hover {
    background-color: #E6BBFF;
}

.growth-point {
    background-color: #ECEDFE;
    border-radius: 36px;
    display: flex;
    padding: 60px 45px;
    gap: 50px;
    align-items: center;
    margin-bottom: 160px;
}

.growth-point__info-container {
    max-width: 414px;
}

.growth-point__indicator-container {
    display: flex;
    max-width: 235px;
    gap: 6px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;
}

.growth-point__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.growth-point__btn:hover {
    background-color: rgba(84, 114, 171, 0.4);
}

.growth-point__img {
    box-shadow: 12px 12px 42px rgba(25, 46, 87, 0.16);
    border-radius: 16px;
}

.conversion {
    background-color: #FEF5EA;
    border-radius: 32px;
    padding: 60px 45px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
}

.conversion__info-container {
    max-width: 465px;
}

.conversion__indicator-container {
    display: flex;
    max-width: 307px;
    gap: 6px;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
    margin: 0 auto 25px 0;
}

.conversion__badge {
    padding: 6px 16px;
    background-color: var(--color-white);
    border-radius: 10px;
}

.conversion__sabtitle {
    max-width: 425px;
}

.conversion__img-container {
    display: flex;
    max-width: 602px;
    flex-wrap: wrap;
    gap: 16px;
}

.conversion__img {
    max-width: 293px;
    max-height: 208px;
}

.conversion__btn:hover {
    background-color: #FFE9BC;

}













.swiper {
    max-width: 1056px;
    width: 100%;

    height: auto;
    margin: 0 auto;
}

.swiper-wrapper {
    max-width: 100%;
}

.swiper-slide {
    max-width: 112px;
    max-height: 78px;
}

.swiper-pagination {
    display: block !important;
}

/* Десктопная сетка (от 1320px и выше) */
@media (min-width: 1320px) {
    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }

    .swiper-pagination {
        display: none;
    }
}